[packages]
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
SQLAlchemy = "*"
yoyo-migrations = "*"

[dev-packages]
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.9"
# TODO: fix prod versions
